{% set contributionType = {
  '0': "add",
  '1': 'modification',
  '2': "vote",
  '3': "reporting",
  '4': "imported"
  }
%} 

{% set elementStatus = {
  '' : 'waiting',
  '-5': "modified.pending",
  '-4': 'removed', 
  '-3': 'refused.votes', 
  '-2': 'refused.admin', 
  '-1': 'pending.modifications', 
   '0': 'pending.add',
   '1': 'validated.admin',
   '2': 'validated.votes',
   '3': 'added.admin',
   '4': 'modified.admin',
   '5': 'modified.owner',
   '6': 'modified.direct.link'
  }
%} 

{% set userRoles = {
  '0': "anonymous",
  '1': 'anonymous.email',
  '2': "logged.user",
  '3': "admin",
  '4': 'anonymous.link'
  }
%} 

{# ---- HEADER --- #}
<div class="contribution-header row">    
  {% set labelClass = 'label-success' if item.status > 0 else 'label-danger' %}
  {% set labelClass = 'label-warning' if item.status == 0 else labelClass %}

  {% if item.userRole == 3 or item.status > 2 %}
    <div class="contribution-status"> 
        {% set title = contributionType[item.type] if (item.type == 4) else elementStatus[item.status] %}
        <span class="label {{ labelClass }}">{{ title|i18n }}</span>
        {{ 'by' | i18n }} <u>{{ item.user }}</u> 
        <span class="label label-default">{{ userRoles[item.userRole] | i18n }}</span> 
        <span class="vote-report-comment">{{ item.resolvedMessage}}<span>        
    </div>
    <div class="contribution-updated-at">{{ item.updatedAt|date }}</div>
  {% else %}    
    {% if item.status %} {# pending contribution have status to null #}
      <div> 
          <b>{{ contributionType[item.type] | i18n | upper }}</b>          
          <span class="label {{ labelClass }}">{{ elementStatus[item.status]|i18n }}</span>
          {% if item.resolvedMessage %}<span class="vote-report-comment" style="padding:0 10px"> {{ item.resolvedMessage}}</span>{% endif %}
          {% if item.resolvedBy %}<span>(<u>{{item.resolvedBy }}</u>)</span>{% endif %}   
          
      </div>
      <div class="contribution-updated-at">{{ item.updatedAt|date }}</div>
    {% endif %}

    <div> 
      {{ 'proposed.by' | i18n }} <u>{{ item.user }}</u> 
      <span class="label label-default">{{ userRoles[item.userRole] | i18n}}</span>    
      {{ 'the' | i18n }} {{ item.createdAt|date }}  
    </div>
  {% endif %}
</div>

{# ---- BODY --- #}
{# Not displaying contributions votes on client side, so the API is smaller #}
{#{% if item.votes|length > 0 %}
  <div class="contribution-body">
    <b style="line-height: 3.5rem;">Votes</b>
    {% for vote in item.votes %}
        {% if vote.item %}
          {% import here ~ "vote-report-item.html.njk" as VoteReportRenderer %}
          {{ VoteReportRenderer.render(vote, loop.last, smallWidth) }}
        {% endif %}
    {% endfor %}
  </div>
{% endif %}#}